<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>董小姐的豆瓣一刻第二次提交</title>
	<!--
	可以通过meta 标签去进行一个控制.
never 绝不，没有这个Referer 的请求头.
	-->
	<meta name="referrer" content="never">
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./less/main.css">
	<script src="libs/angular.min.js"></script>
	<script src="libs/angular-route.js"></script>
	<script src="script/app.js"></script>
</head>
<body>
	<div class="viewport" ng-app="YIKEApp">
	<!-- 侧边导航   3.视图，所以关联导航控制器-->
	<!-- ng-class 为true，添加类名 -->
	<!-- 当页面打开，类名collapse不会添加，因为js文件中初始值为false，当点击一下时，改为true，类名就添加 -->
		<div ng-class="{navs:true,collapse:collapsed}" ng-controller="NavsController">
			<dl>
			<!-- 登录区 -->
				<dt class="login">
					<div class="avatar">
						<img src="./images/avatar.png" alt="">
					</div>
					<span>登录</span>
				</dt>
				<!-- 导航栏   遍历导航navs-->
				<dd class="active" ng-repeat = "nav in navs">
				<!-- 锚点页面 -->
					<a href="{{nav.link}}" class="{{nav.icon}}" ng-click="toggle()">
					<!-- 标题显示区 -->
						<span ng-clock>{{nav.text}}</span>
					</a>
				</dd>
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header:true, collapse:collapsed}">
			<!-- 头部可以点的按钮 -->
				<a href="javascript:;" class="menu icon-menu" ng-click="toggle()"></a>
				<h2>{{title}}</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>

			<!-- 主体显示内容的 -->
			<div ng-class="{body:true,collapse:collapsed}">
				<img src="./images/loading.gif" ng-hide="loaded" style="width:32px; margin:0 auto;">
				<div ng-view>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>